@charset "UTF-8";
/*======================================================================
# width
=======================================================================*/
/*======================================================================
# mixins
=======================================================================*/
/*=================================================================================
# colors
=================================================================================*/
/*=================================================================================
# font-family
=================================================================================*/
/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", Meiryo, sans-serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.bg-img {
  background-image: url(../img/bg-image.png);
  background-repeat: repeat;
}

.inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.section {
  margin-top: 60px;
}

.util-title {
  font-size: 43px;
  font-family: futura;
  color: #301F1B;
  text-align: center;
  line-height: 1;
}

.util-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  color: #fff;
  background-color: #c63205;
  padding: 20px 30px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.util-link:hover {
  background-color: #161616;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .8;
}

/*=================================================================================
# header
=================================================================================*/
/* header-nav
-------------------------------------------------------------------------*/
.header-nav .header-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.header-item {
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-item + .header-item {
    margin-left: 30px;
  }
  .header-item:first-child {
    margin-left: auto;
  }
  .header-item:last-child {
    margin-right: auto;
  }
}

.header-item-link {
  display: block;
  font-weight: 600;
  color: #421f15;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media screen and (min-width: 768px) {
  .header-item-link::after {
    display: block;
    font-size: 22px;
  }
}

.header-item-link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .nav-top a::after {
    content: 'TOP';
  }
  .nav-news a::after {
    content: 'NEWS';
  }
  .nav-story a::after {
    content: 'STORY';
  }
  .nav-comments a::after {
    content: 'COMMENTS';
  }
  .nav-cast a::after {
    content: 'CAST';
  }
  .nav-inquiry a::after {
    content: 'INQUIRY';
  }
}

/*=================================================================================
# footer
=================================================================================*/
.footer {
  background: #1A1A1A;
  margin-top: 60px;
  padding: 33px 0;
}

.footer .inner {
  text-align: center;
}

.footer-copyright {
  color: #fff;
}

/*=======================================================================
# TOPPAGE
====================================================================== */
/* hero
-------------------------------------------------------------------------*/
.heroarea-img {
  background: url(../img/heroarea-image2.png) center center/cover;
  background-repeat: no-repeat;
  position: relative;
}

.heroarea-img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.heroarea {
  padding: 60px 0;
}

.heroarea-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .heroarea-heading {
    padding: 15px 0;
  }
}

.heroarea-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .heroarea-row {
    margin-top: 88px;
  }
}

.heroarea-row-contents {
  margin: 0 15px;
}

@media screen and (min-width: 768px) {
  .heroarea-row-contents {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34%;
            flex: 0 1 34%;
  }
}

.heroarea-row-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  font-size: 14px;
  color: #fff;
  margin-left: auto;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .heroarea-row-text {
    padding: 0 15px;
  }
}

/* header-bottom
-------------------------------------------------------------------------*/
.reserve-button {
  text-align: right;
}

.reserve-button .util-link {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*=======================================================================
# main
====================================================================== */
/* introduction
-------------------------------------------------------------------------*/
.introduction {
  margin-top: 35px;
}

.intro-container {
  padding: 30px;
  position: relative;
}

.bl_introImg {
  width: 230px;
  -webkit-clip-path: polygon(20% 40%, 20% 100%, 100% 40%);
          clip-path: polygon(20% 40%, 20% 100%, 100% 40%);
  position: absolute;
  top: -117px;
  left: -45px;
}

.intro-bg {
  background-color: rgba(255, 255, 255, 0.29);
}

.intro-title {
  margin-bottom: 15px;
}

.intro-title2 {
  font-size: 34px;
  font-weight: 600;
  color: #301F1B;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

.intro-text-wrap {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.intro-text {
  text-align: justify;
}

/* youtube
-------------------------------------------------------------------------*/
.youtube-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* = height ÷ width × 100 */
}

.youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* news
-------------------------------------------------------------------------*/
.news {
  position: relative;
  padding: 0;
}

.news-title {
  margin-bottom: 30px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.news-item:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media screen and (min-width: 768px) {
  .news-item:nth-child(4) .news-item-link .news-item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .news-item:nth-child(4) .news-item-link .news-item-wrap .news-item-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media screen and (min-width: 768px) {
  .news-item:nth-child(4) .news-item-link .news-item-wrap .news-item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 15px;
  }
}

.news-item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media screen and (min-width: 768px) {
  .news-item:last-child .news-item-link .news-item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .news-item:last-child .news-item-link .news-item-wrap .news-item-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media screen and (min-width: 768px) {
  .news-item:last-child .news-item-link .news-item-wrap .news-item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 15px;
  }
}

.news-item {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-item :hover {
  opacity: .8;
}

.news-item-img {
  background-size: cover;
  background-position: center center;
  background-color: #161616;
  position: relative;
  overflow: hidden;
}

.news-item-img::before {
  content: '';
  display: block;
  padding-top: 56.25%;
  /* = height ÷ width × 100 */
}

.news-item-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.news-item-body {
  padding: 15px;
  background: #fff;
}

.news-item-body > time {
  color: #666666;
}

.news-item-body .news-item-title {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .news-more {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

/* story
-------------------------------------------------------------------------*/
.story {
  background: url(../img/story2.png) center/cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.story-title {
  color: #fff;
  margin-bottom: 20px;
}

.story-container {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .story-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.story-content {
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .story-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    padding-left: 15px;
    margin-left: auto;
  }
}

.story-content-text {
  text-align: justify;
}

.story-more {
  position: relative;
  z-index: 10;
  text-align: right;
}

/* comment
-------------------------------------------------------------------------*/
.comments-title {
  margin-bottom: 33px;
}

.comments-title2 {
  text-align: center;
  color: #301F1B;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 33px;
}

.comments-container {
  background-color: #161616;
  position: relative;
}

@media screen and (min-width: 768px) {
  .comments-container {
    padding: 44px 32px 44px;
  }
  .comments-container::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/comment2.png) center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.comments-content {
  position: relative;
  z-index: 10;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .comments-content {
    width: 55%;
    margin-right: auto;
    padding-right: 15px;
  }
}

.comments-content-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.comments-content-title > span {
  font-size: 26px;
  padding-left: 8px;
  font-weight: 700;
}

.comments-content-text {
  font-size: 14px;
  line-height: 1.5714;
  text-align: justify;
}

.comments-more {
  position: relative;
  z-index: 10;
  text-align: right;
}

.comments-more .util-link {
  -webkit-transform: translate(10px, 30px);
          transform: translate(10px, 30px);
}

/* cast
-------------------------------------------------------------------------*/
.cast-title {
  margin-bottom: 24px;
}

.cast-area {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 134px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cast-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .cast-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    -webkit-transform: translateY(-13%);
            transform: translateY(-13%);
  }
}

.cast-item-header {
  text-align: center;
  margin-bottom: 15px;
}

.cast-item-img1 {
  max-width: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
          box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}

.cast-item-img1::before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
}

.cast-item-img1:nth-child(1)::before {
  background: url(../img/cast1-2.png);
  background-position: center;
  background-size: contain;
}

.cast-item-img2 {
  max-width: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
          box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}

.cast-item-img2::before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
}

.cast-item-img2:nth-child(1)::before {
  background: url(../img/cast2-2.png);
  background-position: center;
  background-size: contain;
}

.cast-item-img3 {
  max-width: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
          box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}

.cast-item-img3::before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
}

.cast-item-img3:nth-child(1)::before {
  background: url(../img/cast3-2.png);
  background-position: center;
  background-size: contain;
}

.cast-item-desc {
  font-size: 16px;
  margin-bottom: 8px;
}

.cast-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.cast-item-desc2 {
  margin-bottom: 8px;
}

.cast-item-body {
  text-align: justify;
}

.cast-more {
  text-align: center;
}

.cast-more .util-link {
  color: #c63205;
  background-color: transparent;
  border: 5px solid #c63205;
  padding: 19px 25px;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.cast-more .util-link:hover {
  background-color: #c63205;
  color: #fff;
}

/* schedule
-------------------------------------------------------------------------*/
.schedule-container {
  background-color: rgba(255, 255, 255, 0.29);
  padding: 30px 72px 60px;
  margin-bottom: 30px;
}

.schedule-title {
  margin-bottom: 30px;
}

.schedule-item {
  font-size: 20px;
  margin-bottom: 25px;
  color: #301F1B;
}

.schedule-item:last-child {
  margin-bottom: 0;
}

.schedule-item-time {
  margin-right: 26px;
}

.schedule-item-event {
  margin-right: 26px;
}

.schedule-item-link {
  display: inline-block;
  color: #301F1B;
  text-decoration: underline;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.schedule-item-link:hover {
  opacity: .8;
}

.schedule-footer {
  text-align: center;
}

.schedule-contact-button {
  display: inline-block;
  background: #603813;
}

.schedule-reserve-button {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .schedule-reserve-button {
    margin-left: 30px;
  }
}
