@charset "utf-8";
/*======================================================================
# width
=======================================================================*/
$layout-width-canvas: 1366px;
$layout-width-inner: 1200px;
/*======================================================================
# mixins
=======================================================================*/
//マップ型変数breakpointsを定義
$breakpoints: (
//キー  値
 'small-sp':'screen and (max-width: 360px)', //360px以下（スモールスマホ）用の表示  
 'sp':'screen and (max-width: 500px)', //500px以下（スマホ）用の表示
 'sp-down': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'sp-up': 'screen and (min-width: 768px)', //768px以上（タブレット・PC）用の表示
 'tab-down': "(max-width: #{$layout-width-inner - 1px})",
 'tab-up': "(min-width: #{$layout-width-inner})",
 'pc': "(min-width: #{$layout-width-canvas})",
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*=================================================================================
# colors
=================================================================================*/
$font-color-grey:#333;
$font-color-white:#fff;
$font-color-brown1:#421f15;
$font-color-brown2:#301F1B;
$primary-color:#c63205;

/*=================================================================================
# font-family
=================================================================================*/
$font-family-en: futura-pt-condensed, sans-serif;
$font-family-default: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,sans-serif;

/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@include mq('sp-down'){
  .is-pc{
    display: none;
  }
}

@include mq('sp-up'){
  .is-sp{
    display: none;
  }
}

body{
 font-size: 16px;
 color: $font-color-grey;
 font-family:$font-family-default;
 line-height: 1.6875;
}
// 外枠に対して100%で画像を広げたいので
img{
  width: 100%;

}
.bg-img {
  background-image: url(../img/bg-image.png);
  background-repeat: repeat;
}
.inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.section {
  margin-top: 60px;
}
.util-title {
  font-size: 43px;
  font-family: futura;
  color: $font-color-brown2;
  text-align: center;
  line-height: 1;
}
.util-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  color: $font-color-white;
  background-color: $primary-color;
  padding: 20px 30px;
  transition: background-color .3s;

  &:hover {
    background-color: #161616;
    transition : .3s; 
    opacity: .8;
  }
}
/*=================================================================================
# header
=================================================================================*/
/* header-nav
-------------------------------------------------------------------------*/
.header-nav {

  .header-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.header-list {
  display: flex;
  align-items: center;
  padding: 1rem 0;

}
.header-item {
  display: inline-block;
  text-align: center;
  
  @include mq('sp-up'){
    & + &{
      margin-left: 30px;
    }
    &:first-child {
      margin-left: auto;
    }
  
    &:last-child {
      margin-right: auto;
    }
  }
}
.header-item-link {
  display: block;
  font-weight: 600;
  color: $font-color-brown1;
  transition: color .3s;

  // すべてのナビメニューに適用する
  @include mq('sp-up'){
    &::after {
      display: block;
      font-size: 22px;
    }  
  }
  &:hover {
    opacity: .8;
  }
}
@include mq('sp-up'){

  .nav-top {
    a::after {
      content: 'TOP';  
    }
  }
  .nav-news {
    a::after {
      content: 'NEWS';
    }
  }
  
  .nav-story {
    a::after {
      content: 'STORY';
    }
  }
  
  .nav-comments  {
    a::after {
      content: 'COMMENTS';
    }
  }
  
  .nav-cast {
    a::after {
      content: 'CAST';
    }
  }
  .nav-inquiry  {
    a::after {
      content: 'INQUIRY';
    }
  }
}
/*=================================================================================
# footer
=================================================================================*/
.footer {
  background: #1A1A1A;
  margin-top: 60px;
  padding: 33px 0;

  .inner {
    text-align: center;
  }
}

.footer-copyright {
  color: #fff;
}
/*=======================================================================
# TOPPAGE
====================================================================== */
/* hero
-------------------------------------------------------------------------*/
.heroarea-img {
  background: url(../img/heroarea-image2.png) center center / cover;
  background-repeat: no-repeat;
  position: relative;
  
  &::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
 
}
.heroarea {
  padding: 60px 0;
}
.heroarea-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.heroarea-heading{

  @include mq('sp-up'){
    padding: 15px 0; 
  }
}
.heroarea-row {
  display: flex;
  align-items: center;

  @include mq('sp-up'){
    margin-top: 88px;
  } 
}
.heroarea-row-contents {
  margin: 0 15px;

  @include mq('sp-up'){
    flex: 0 1 34%;
  }
}
.heroarea-row-text {
  flex: 0 0 42%;
  font-size: 14px;
  color: $font-color-white;
  margin-left: auto;
  text-align: justify;
  @include mq('sp-up'){
    padding: 0 15px;
  }
}
/* header-bottom
-------------------------------------------------------------------------*/
.reserve-button {
  text-align: right;

  .util-link {
    transform: translateY(-50%);
  }
}
/*=======================================================================
# main
====================================================================== */
/* introduction
-------------------------------------------------------------------------*/
.introduction{
  margin-top: 35px;
}
.intro-container{
  padding: 30px;
  position: relative;
}
.bl_introImg {
  width: 230px;
  clip-path: polygon(20% 40%, 20% 100%, 100% 40%);
  position: absolute;
  top: -117px;
  left: -45px;
}
.intro-bg {
  background-color:rgba(255, 255, 255, .29);
}
.intro-title {
  margin-bottom: 15px;
}
.intro-title2 {
  font-size: 34px;
  font-weight: 600;
  color: $font-color-brown2;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
.intro-text-wrap{
  // ２列に
  columns: 2;
  column-gap: 30px;
}
.intro-text {
  text-align: justify;
}
/* youtube
-------------------------------------------------------------------------*/
.youtube-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* = height ÷ width × 100 */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/* news
-------------------------------------------------------------------------*/
.news {
  position: relative;
  padding: 0;
}
.news-title {
  margin-bottom: 30px;
}
.news-list {
  display: flex;
  flex-wrap: wrap;
}
.news-item {
  flex: 0 0 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;

  &:nth-child(4){
    flex: 0 0 50%;

    .news-item-link {
      .news-item-wrap {
        @include mq('sp-up'){
          display: flex;
        }

        .news-item-header{
          @include mq('sp-up'){
            flex: 0 0 40%;
          }
        }

        .news-item-body{
          @include mq('sp-up'){
            flex: 0 1 60%;
            padding: 15px;
          }
        }
      }

    }
  }
  &:last-child {
    flex: 0 0 50%;

    .news-item-link {
      .news-item-wrap {
        @include mq('sp-up'){
          display: flex;
        }
        .news-item-header {  
          @include mq('sp-up'){
            flex: 0 0 40%;   
          }
        }

        .news-item-body {
          @include mq('sp-up') {
            flex: 0 1 60%;
            padding: 15px;
          }
        }
      }
    }
  }
}
.news-item{
  transition: all .3s; 

  & :hover {
    opacity: .8;
  }
}
.news-item-img{
  background-size: cover;
  background-position: center center;
  background-color: #161616;
  position: relative;
  // beforeに作った枠に収める
  overflow: hidden;

  &::before{
    content: '';
    display: block;
    padding-top: 56.25%;/* = height ÷ width × 100 */
  }
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
.news-item-body {
  padding: 15px;
  background: #fff;

  >time {
    color: #666666;
  }
  .news-item-title {
    color: $font-color-grey;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
  }
}
.news-more{
  @include mq('sp-up'){
    position: absolute;
    top: 0;
    right: 15px;
  }
}
/* story
-------------------------------------------------------------------------*/
.story{
  background: url(../img/story2.png) 
   center / cover;
  background-repeat: no-repeat;
  color: $font-color-white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.story-title {
  color: $font-color-white;
  margin-bottom: 20px;
}
.story-container {
  margin-bottom: 10px;
  
  @include mq('sp-up') {
    display: flex;
    flex-wrap: wrap;
  }
}
.story-content {
  position: relative;
  z-index: 10;
  
  @include mq('sp-up') {
    flex: 0 0 48%;
    padding-left: 15px;
    margin-left: auto;
  }
}
.story-content-text {
  text-align: justify;
}
.story-more {
  position: relative;
  z-index: 10;
  text-align: right;

}
/* comment
-------------------------------------------------------------------------*/
.comments-title {
  margin-bottom: 33px;

}
.comments-title2 {
  text-align: center;
  color: $font-color-brown2;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 33px;
}
.comments-container {
  background-color: #161616;
  position: relative;

  @include mq('sp-up'){
    padding: 44px 32px 44px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/comment2.png) center center / cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }
  }
}
.comments-content {
  position: relative;
  z-index: 10;
  color: $font-color-white;

  @include mq('sp-up') {
    width: 55%;
    margin-right: auto;
    padding-right: 15px;
  }

} 
.comments-content-title {
  font-size: 20px;
  margin-bottom: 15px;

  >span{
    font-size: 26px;
    padding-left: 8px;
    font-weight: 700;
  }

}
.comments-content-text {
  font-size: 14px;
  line-height: 1.5714;
  text-align: justify;
}

.comments-more {
  position: relative;
  z-index: 10;
  text-align: right;

  .util-link {
    transform: translate(10px,30px);
  }
}
/* cast
-------------------------------------------------------------------------*/
.cast-title {
  margin-bottom: 24px;
}

.cast-area {
  background: rgba(255, 255, 255, .9);
  margin-top: 134px;
  padding-bottom: 30px;

}

.cast-list {
  // margin-bottom: 15px;
  // transform: translateY(-100px);
  // margin-bottom: - 80px;
  // padding-bottom: 16px;
  
  @include mq('sp-up') {
    display: flex;
    justify-content: space-between;
    
  }
}
.cast-item {
  @include mq('sp-up') {
    flex: 0 0 31%;
    transform: translateY(-13%);
  }
  

}
.cast-item-header {
  text-align: center;
  margin-bottom: 15px;
}
.cast-item-img1 {
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 0, 3px, 6px, rgba(0, 0, 0, .16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;

  &::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;

  }

  &:nth-child(1)::before{
    background: url(../img/cast1-2.png);
    background-position: center;
    background-size: contain;
  }
}
.cast-item-img2 {
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 0, 3px, 6px, rgba(0, 0, 0, .16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
  
  &::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;

  }
  &:nth-child(1)::before{
    background: url(../img/cast2-2.png);
    background-position: center;
    background-size: contain;
  }
}
.cast-item-img3 {
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 0, 3px, 6px, rgba(0, 0, 0, .16);
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
  
  &::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;

  }
  &:nth-child(1)::before{
    background: url(../img/cast3-2.png);
    background-position: center;
    background-size: contain;
  }
}
.cast-item-desc {
  font-size: 16px;
  margin-bottom: 8px;
}
.cast-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.cast-item-desc2 {
  margin-bottom: 8px;
}
.cast-item-body {
  text-align: justify;
}
.cast-more {
  text-align: center;
  
  .util-link{
    color: $primary-color;
    background-color: transparent;
    border: 5px solid $primary-color;
    padding: 19px 25px;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $primary-color;
      color: $font-color-white;
    }
  }
}
/* schedule
-------------------------------------------------------------------------*/
.schedule-container{
  background-color:rgba(255, 255, 255, .29);
  padding: 30px 72px 60px;
  margin-bottom: 30px;
}
.schedule-title {
  margin-bottom: 30px;
}
.schedule-item {
  font-size: 20px;
  margin-bottom: 25px;
  color: $font-color-brown2;
  &:last-child {
    margin-bottom: 0;
  }
} 
.schedule-item-time {
  margin-right: 26px;

}
.schedule-item-event {
  margin-right: 26px;
}

.schedule-item-link {
  display: inline-block;
  color: $font-color-brown2;
  text-decoration: underline;
  transition: color .3s;

  &:hover {
    opacity: .8;
  }
}

.schedule-footer {
  text-align: center;
}
.schedule-contact-button {
  display: inline-block;
  background: #603813;
}
.schedule-reserve-button  {
  display: inline-block;
  
  @include mq('sp-up') {
    margin-left: 30px;
  }
}